@import url("https://fonts.googleapis.com/css?family=Anton|Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:root {
  --color-main-bgrd: #ededed;
  --color-main-title: #DF2A53;
  --color-header-footer-bgrd: #333333;
  --color-main-text: #656665; }

html {
  font: 14px/1.5 Lexend Deca, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-family: Lexend Giga, sans-serif; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.1rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

@media screen and (max-width: 500px) {
  html {
    font-size: 15px; } }

html {
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--color-main-bgrd); }

.site-content {
  text-align: center; }
  .site-content h1, .site-content h2, .site-content h3, .site-content h4, .site-content h5, .site-content h6 {
    color: var(--color-main-title);
    margin: 4rem 0 1rem 0; }
  .site-content p {
    color: var(--color-main-text); }

@media (max-width: 700px) {
  .site-content h1, .site-content h2, .site-content h3, .site-content h4, .site-content h5, .site-content h6 {
    margin-top: 2rem; } }

header {
  width: 100%;
  background-color: var(--color-header-footer-bgrd); }

.site-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .site-header h1 a {
    text-decoration: none;
    color: var(--color-main-title); }
  .site-header h1 a:hover {
    color: #F4F4F4; }
  .site-header .site-nav ul {
    display: flex;
    list-style: none;
    align-items: stretch; }
    .site-header .site-nav ul li {
      padding: 1rem 1.5rem; }
      .site-header .site-nav ul li a {
        color: #F4F4F4; }
    .site-header .site-nav ul li:hover {
      background-color: var(--color-main-title); }
  @media screen and (max-width: 700px) {
    .site-header .site-nav ul {
      display: block;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 1rem; }
    .site-header .site-nav ul li {
      border-bottom: 1px solid var(--color-main-title);
      padding: 0.1rem 0; }
    .site-header a {
      text-decoration: none; } }

@media (max-width: 700px) {
  .site-header {
    display: block;
    text-align: center; } }

.site-header-banner {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .site-header-banner:after {
    display: block;
    content: ''; }
  .site-header-banner.size-large:after {
    padding-top: calc( (9 / 16) * 100%); }
  .site-header-banner.size-small:after {
    padding-top: calc( (9 / 22) * 100%); }

h3 {
  color: #F4F4F4;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; }

@media (max-width: 700px) {
  .site-header-banner h3 {
    top: 35%;
    font-size: 15px; } }

footer {
  width: 100%;
  background-color: var(--color-header-footer-bgrd);
  color: #F4F4F4; }
  footer h4 {
    text-align: center;
    padding: 1rem 0; }
  footer .site-footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .site-footer .social-menu {
      width: 30%;
      margin: 0 auto; }
      footer .site-footer .social-menu ul {
        display: flex;
        justify-content: space-around;
        list-style: none; }
        footer .site-footer .social-menu ul li {
          text-decoration: none; }
          footer .site-footer .social-menu ul li .fab {
            font-size: 30px;
            line-height: 60px;
            transition: 0.6s;
            color: #000; }
          footer .site-footer .social-menu ul li .fab:hover {
            color: #fff; }
          footer .site-footer .social-menu ul li a {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 0.2rem;
            background-color: #fff;
            text-align: center;
            transition: 0.6s;
            box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5); }
          footer .site-footer .social-menu ul li a:hover {
            transform: translate(0, -10px); }
          footer .site-footer .social-menu ul li:nth-child(1) a:hover {
            background-color: #3b5999; }
          footer .site-footer .social-menu ul li:nth-child(2) a:hover {
            background-color: #55acee; }
          footer .site-footer .social-menu ul li:nth-child(3) a:hover {
            background-color: #cd201f; }
          footer .site-footer .social-menu ul li:nth-child(4) a:hover {
            background-color: #e4405f; }
    footer .site-footer .footer-contacts {
      margin: 0 auto; }
  @media screen and (max-width: 700px) {
    footer .site-footer {
      display: block;
      text-align: center; }
      footer .site-footer .social-menu {
        padding-bottom: 1rem; }
        footer .site-footer .social-menu ul li .fab {
          color: #fff; }
        footer .site-footer .social-menu ul li:nth-child(1) a {
          background-color: #3b5999; }
        footer .site-footer .social-menu ul li:nth-child(2) a {
          background-color: #55acee; }
        footer .site-footer .social-menu ul li:nth-child(3) a {
          background-color: #cd201f; }
        footer .site-footer .social-menu ul li:nth-child(4) a {
          background-color: #e4405f; } }
  footer .rights {
    text-align: center;
    padding-top: 1rem; }

.gallery-label p {
  margin-bottom: 2rem; }

ul.gallery {
  padding: 0;
  margin: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  ul.gallery li {
    width: 32%;
    list-style: none;
    position: relative;
    margin-bottom: 2%;
    overflow: hidden;
    box-shadow: 0 0 0.9rem 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in; }
    ul.gallery li a {
      display: block;
      position: relative;
      pointer-events: none; }
    ul.gallery li a:before {
      display: block;
      content: '';
      padding-top: calc( (9 / 16) * 100%); }
  @media (min-width: 700px) {
    ul.gallery li:hover {
      transform: scale(1.12);
      z-index: 4; } }
  ul.gallery img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 1000px) {
  ul.gallery li {
    width: 48%; } }

@media (max-width: 700px) {
  ul.gallery li {
    width: 95%;
    margin: 2rem auto; } }

.contacts-article .contacts {
  padding-bottom: 2rem; }
  .contacts-article .contacts p:nth-of-type(1), .contacts-article .contacts p:nth-of-type(2) {
    padding: 0.5rem 0;
    color: black; }
    .contacts-article .contacts p:nth-of-type(1) .fas, .contacts-article .contacts p:nth-of-type(2) .fas {
      color: var(--color-main-title);
      padding-right: 0.6rem; }

.contacts-article hr {
  height: 1px;
  background-color: var(--color-main-title);
  border: none;
  margin-top: 2rem; }

.contacts-article .message {
  margin: 3rem 0 1rem 0; }
  .contacts-article .message textarea {
    width: 40rem; }
  @media (max-width: 700px) {
    .contacts-article .message textarea {
      width: 25rem; } }
  @media (max-width: 450px) {
    .contacts-article .message textarea {
      width: 17rem; } }
  .contacts-article .message p {
    padding: 0; }
  .contacts-article .message form {
    margin: 0; }

.contacts-article input[type=submit] {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: var(--color-main-title);
  border-radius: 10%;
  color: #F4F4F4;
  cursor: pointer; }

.contacts-article p:last-of-type {
  padding-bottom: 1rem; }

.contacts-article iframe {
  width: 90%;
  margin-bottom: 2rem; }
