.gallery-label{
    
    p{
        margin-bottom: 2rem;
    }
}

ul.gallery{
    padding: 0;
    margin: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & li{
        width: 32%;
        list-style: none; 
        position: relative;
        margin-bottom: 2%;
        overflow: hidden;
        box-shadow: 0 0 0.9rem 0 rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in;

        a{
            display: block;
            position: relative;
            pointer-events: none;
        }

        a:before{
            display: block;
            content: '';
            padding-top: calc( (9 / 16) * 100%);
        }
        
    }

    @media(min-width: 700px){
        & li:hover{
            transform: scale(1.12);
            z-index: 4;
        }
    }

    & img{
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media(max-width: 1000px){
    ul.gallery li{
        width: 48%;
    }
}

@media(max-width: 700px){
    ul.gallery li{
        width: 95%;
        margin: 2rem auto;
    }
}