html{
    max-width: 1100px;
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--color-main-bgrd);
}

.site-content{
    text-align: center;

    h1, h2, h3, h4, h5, h6{
        color: var(--color-main-title);
        margin: 4rem 0 1rem 0;
    }
    
    p{
        color: var(--color-main-text);
    }
}

hr{
    height: 1px;
    background-color: var(--color-main-title);
    border: none;
    margin-top: 2rem;
}


@media(max-width: 700px){
    .site-content {

        h1, h2, h3, h4, h5,h6{
        margin-top: 2rem;
        }
    }
}